/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #fdfcf9;
  --color-text: #3b322c;
  --color-primary: #8c5e3c;
  --color-accent: #a6c48a;
  --color-muted: #e6e0d4;
  --color-border: #d9c8b4;
  --color-button-background: #a6c48a;
}

:root {
  font-family: "Sen", sans-serif;
}

[data-theme="dark"] {
  --color-bg: #0e0e1b;
  --color-text: #e0e0f0;
  --color-primary: #ff2d95;
  --color-accent: #00ffc6;
  --color-muted: #1c1c2b;
  --color-border: #31314f;
  --color-button-background: #ff2d95;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
